* {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

img {
    width: 2.5vh;
}
#estadistiques {
    display: grid;
}

#sol, #descripcio, #vent {
    display: grid;
}

#sol, #descripcio {
    grid-column: 1;
}

#sunset, #sunrise, #desc {
    grid-column: 1;
}

#posta, #sortida {
    grid-column: 2;
}

#posta, #sunset {
    grid-row: 1;
}

#sortida, #sunrise {
    grid-row: 2;
}

#desc {
    grid-row: 3;
}